.grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto
}

.grid-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: auto;
    position: relative;
    text-align: center;
    background-color: #f3f3f3;
}

.grid-item:hover {
    border: 1px solid #777;
}

.grid-item .productDesc .productImg {
    width: 100%;
    height: auto;
    vertical-align: middle
}