.grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto
}

.grid-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    position: relative;
}

.grid-item:hover {
    border: 1px solid #777;
}

.grid-item img {
    width: 100%;
    height: auto
    
}

.grid-item .desc {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}