#wrapper {width: 100%; margin-top: 0px;}
#header {width: 70%; margin-top: 0px;}
#container {width: 100%; margin:auto;}

.container .welcome {
	font-size: 40px; 
	width: 120px; 
	display: block; 
	text-align: left;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.container .logout {
	font-weight: bold;
	width: 130px; 
	padding: 5px 10px; 
	margin-top: 30px;
	background: #3CB371;
}