.product-container {
    margin: 70px;
    position: relative;
    text-align: center;
    border: 1px solid #777;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%; 
    top: 0;
    left: 0;
}

.product-container .productImg {
    width: 100%;
    height: auto;
    vertical-align: middle    
    position: relative;
	top: 0;
	left: 0;
}

.product-container .soldOutImg {
	position: absolute;
    width: 100%;
    height: auto;
    vertical-align: middle   
    top: 0;
  	left: 0;
}

.product-container .addToCart {
    background-color: #3CB371;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.product-container .addToCart:disabled {
    background-color: #D3D3D3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.product-container .desc {
  font-size: 30px;
  font-weight: 300;
  color: #FF69B4;
}

.product-container .price {
  font-size: 24px;
  font-weight: 300;
  color: #808080;
}

.product-container .discount {
  font-size: 24px;
  font-weight: 300;
  color: #FA8072;
}

.product-container .finalPrice {
  font-size: 34px;
  font-weight: 300;
  background-color: #FFE4E1;
  color: #C71585;
}

.product-container .size {
  font-size: 24px;
  font-weight: 300;
  color: #808080;
}